<section class="hero-section wow fadeInUpBig" data-wow-duration="1s">
  <div data-aos="fade-up" class="wow fadeInUpBig" data-wow-duration="1.2s">
    <h1>
      Let your Skin <br />
      Going
      <div class="inner-box"><div class="inner-content"></div></div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Out
    </h1>
    <p class="hero-content">
      We want to bring to the work through our <br />
      products that very special feeling joy, <br />
      healthy and positive energy.
    </p>

    <div class="buttons">
      <a href="#" class="left-button"
        >Show Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i
      ></a>
      <a href="#" class="right-button"
        ><i class="fa fa-caret-right" aria-hidden="true"></i> How to use</a
      >
    </div>
  </div>
  <div class="right-content" data-aos="fade-up" data-aos-duration="3000">
    <img src="./../../../assets/images/model_pics.png" />
  </div>
</section>
