<div class="product-list">
  <div class="first-product-card" data-aos="fade-left" data-aos-duration="3000">
    <div class="first-container wow fadeInUpBig" data-wow-duration="1.8s">
      <h2>
        Trending on <br />
        <span class="essential"> Essentials </span>
      </h2>
      <p>
        Made with nature's best ingredients - Our products' transparent
        ingredients. Fear of <br />
        God Essentials.
      </p>
      <a class="browse-button" href="#"
        >Browse All Products
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i
      ></a>
    </div>
  </div>

  <app-product-card
    imgSource="./../../../assets/images/sheer_butter.png"
    productName="Sheer Butter"
    productPrice="$9.58"
    data-aos="fade-left"
    data-aos-duration="1500"
  ></app-product-card>

  <app-product-card
    imgSource="./../../../assets/images/luxury_oil.png"
    productName="Luxury Oil Gel"
    productPrice="$9.58"
    data-aos="fade-left"
    data-aos-duration="1500"
  ></app-product-card>

  <app-product-card
    imgSource="./../../../assets/images/baby_oil.png"
    productName="Baby Oil"
    productPrice="$9.58"
    data-aos="fade-left"
    data-aos-duration="1500"
  ></app-product-card>

  <app-product-card
    imgSource="./../../../assets/images/sunrise_shampoo.png"
    productName="Sunrise Shampoo"
    productPrice="$190.90"
    data-aos="fade-left"
    data-aos-duration="1500"
  ></app-product-card>

  <app-product-card
    imgSource="./../../../assets/images/sunrise_shampoo.png"
    productName="Sunrise Shampoo"
    productPrice="$190.90"
    data-aos="fade-left"
    data-aos-duration="1500"
  ></app-product-card>
</div>
