<div class="product-list">
  <div class="product-card" data-aos="fade-left" data-aos-duration="3000">
    <div class="container">
      <h2>
        Trending on <br />
        Essentials
      </h2>
      <p>
        Made with nature's best ingredients - Our products' transparent
        ingredients. Fear of God Essentials.
      </p>
      <img src="http://placehold.it/500x300" alt="productImage" />
    </div>

    <p>$98.94</p>
  </div>

  <app-product-card
    data-aos="fade-left"
    data-aos-duration="1500"
  ></app-product-card>
  <app-product-card data-aos="fade-left"></app-product-card>
  <app-product-card data-aos="fade-left"></app-product-card>
</div>
