<div class="questions-and-answers">
  <div class="image-left">
    <div
      class="cylinder-shape wow"
      style="visibility: visible; animation-name: expand_center"
    ></div>
  </div>

  <div class="questions wow fadeInUpBig">
    <h3>
      You have <span> questions</span>, <br />
      We have answers
    </h3>
    <div>
      <app-accordion
        title="Where are products made?"
        content="Many brands, especially in period care, carry products that take centuries to biodegrade with pronouce."
      ></app-accordion>
      <app-accordion
        title="How to Purchase our products?"
        content="Many brands, especially in period care, carry products that take centuries to biodegrade with pronouce."
      ></app-accordion>
      <app-accordion
        title="How to Purchase our product?"
        content="Many brands, especially in period care, carry products that take centuries to biodegrade with pronouce."
      ></app-accordion>
    </div>
  </div>
</div>
