<div class="statistics">
  <div class="left">
    <div
      class="content wow fadeInUpBig"
      data-wow-duration="1.5s"
      data-aos="fade-up"
      data-aos-duration="9000"
    >
      <p class="first-content">
        We make going all <br />
        natural <span> Beauty </span>
      </p>
      <p class="second-content">
        Made with nature's best ingredients - our products' transparent <br />
        ingredients lists allow you to know
      </p>
      <div class="three-stats">
        <div class="stat">
          <p>Product Users</p>
          <h3>7M+</h3>
        </div>
        <div class="stat2">
          <p>Product Users</p>
          <h3>7M+</h3>
        </div>
        <div class="stat">
          <p>Product Users</p>
          <h3>7M+</h3>
        </div>
      </div>
    </div>
    <div class="image-overlap wow"></div>
  </div>
  <div class="right">
    <div class="cylinder-shape"></div>
  </div>
</div>
