.product-card {
    display: grid;
    place-items: center;
    .container {
        width: 260px;
        height: 290px;
        background-color: white;
        display: grid;
        place-items: center;
        padding: 20px;

        .product-image {
            max-width: 100%;
            max-height: 50%;
        }
    }
    .title {
        margin: 10px 0px auto;
        padding: 0;
        font-size: 16px;
        color: #0e1b4d;
    }
    .sub-title {
        margin: 0 10px auto;
        padding: 0;
        font-size: 14px;
        color: grey;
    }
}
