nav {
    width: 100%;
    display: flex;
    // justify-content: space-around;
    align-items: center;
    color: grey;
    .logo-area {
        display: flex;
        position: relative;
        margin-right: 450px;
        p {
            padding-right: 50%;
            color: #0e1b4d;
            font-size: 24px;
        }
        div {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #f5673c;
            position: absolute;
            top: 37px;
            left: 55px;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
    }
    ul li {
        list-style-type: none;
        padding-right: 25%;
    }

    ul li:last-child {
        padding-right: 0px;
        position: relative;
    }
    ul li div.cart {
        background-color: #f5683b;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    ul li span {
        background-color: black;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        color: white;
        font-size: 9px;
        position: absolute;
        top: -3px;
        right: 0px;
        left: 20px;
        bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
