<div class="testimonials">
  <div class="content">
    <div class="main">
      <p class="quote wow fadeInLeftBig" data-wow-duration="1.3s">
        <i class="fa fa-quote-left fa-4x"></i>
      </p>
      <p class="text-description wow fadeInRightBig" data-wow-duration="1.6s">
        The UK jewelry awards is an event we always look forward to and we are
        so honoured to be recognised.
      </p>
      <div class="grouped wow fadeInRightBig" data-wow-duration="1.6s">
        <div>
          <p class="name">Jane Cooper</p>
          <span class="address">Naperville, USA</span>
        </div>
        <div class="three-dots">
          <i class="fa fa-square"></i>
          <i class="fa fa-square colored"></i>
          <i class="fa fa-square"></i>
        </div>
      </div>
    </div>

    <div class="side-image wow fadeInRightBig" data-wow-duration="1.4s">
      <div class="image-content"></div>
    </div>
  </div>
</div>
